header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 660.11px;
    width: 1440px;
    height: 77px;
    padding: 26px 80px 26px 80px;
    background-color: var(--primaryColor);
    color: var(#fff);
}

.logo{
    width: 238.89px;
    height: 36.11px;
}

nav {
    display: flex;
    align-items: center;
}

nav a{
    font-family: "Inter", sans-serif;
    margin-right:20px;
    margin-top: 26px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: var(--accentColor);
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: var(#fff);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

/* Screen Width 1200px or below */
@media only screen and (max-width: 1200px){
    header{
        width: 1200px;
        height: 77px;
        gap: 460.11px;
        padding: 26px 60px;
        background-color: var(--primaryColor);
        color: var(#fff);
    }

    nav a {
        margin-top:26px;
        margin-right: 20px;
        color: white;
        text-decoration: none;
    }
}

/* Screen Width 768px or below */
@media only screen and (max-width: 768px){
    header{
        width: 768px;
        height: 77px;
        gap: 70.11px;
        padding: 26px 40px;
        background-color: var(--primaryColor);
        color: var(#fff);
    }


    nav {
        display: flex;
        align-items: center;
    }

    nav a {
        margin-top: 26px;
        margin-right: 10px;
    }
}

/* Screen Width 375px or below */
@media only screen and (max-width: 375px){
    header{
        width: 375px;
        height: 75px;
        margin: 0;
        padding: 0;
    }

    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }

    header .toggle-btn{
        color: #fff;
    }

    header nav{
        position: fixed;
        top:0;
        left:0;
        height: 812px;
        width: 375px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 16px;
        gap: 15px;
        background-color: white;
        transition: transform 1s;
        transform: translateY(-100vh);
        z-index: 999;
    }

    header .responsive_nav{
        transform: none;
    }

    nav .nav-close-btn{
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav a{
        font-size: 15px;
        color: var(--primaryColor);
        margin-bottom: 32px;
    }

    .nav-btn{
        margin-bottom: 30px;
        margin-left: -65.11px;
        color: var(--primaryColor);
    }

}