.section__padding{
    padding: 40px 80px 20px 80px;
}

*{
    font-family: "Inter", sans-serif;
}

.fotter{
    background-color: var(--primaryColor);
    width: 1440px;
}

.sb__fotter{
    display: flex;
    flex-direction: column;
}

.sb__fotter-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 40px;
}

.sb__fotter-links-alt{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 128px;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

.logo{
    margin-bottom: 20px;
}

.sb__fotter-links-div{
    width: 413px;
    height: 102px;
}

.sb__fotter-links-div p {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}

.sb__fotter-links_div h4{
    font-size: 21px;
    font-weight: 600;
    line-height: 17px;
    color: white;
    margin-bottom: 0.9rem;
}

.sb__fotter-links_div p{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0.5rem 0;
    cursor: pointer;
}

.sb_fotter-below{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 0.2rem;
}

.sb__fotter-below-links{
    display: flex;
    flex-direction: row;
}

.sb__fotter-below-links p{
    font-size: 13px;
    line-height: 15px;
    margin-left: 2rem;
    color: white;
    font-weight: 600;
}

hr{
    color: white;
    width: 100%;
}

.sb__fotter-copyright p {
    font-size: 13px;
    line-height: 15px;
    color: white;
    font-weight: 600;
}

@media screen and (max-width: 1200px){

    .fotter{
        background-color: var(--primaryColor);
        width: 1200px;
    }

    .sb__fotter-links-alt{
        gap: 20px;
    }

    .sb__fotter-links{
        gap: 112px;
    } 
    
}

@media screen and (max-width: 768px) {
    .fotter{
        width: 768px;
    }
    .sb__fotter-links-alt{
        gap: 40px;
    }

    .sb__fotter-links{
        flex-direction: column;
        gap: 60px;
    }

    .sb__fotter-below-links{
        flex-direction: column;
    }

    .sb__fotter-below-links p {
        margin-left: 0rem;
        margin-top: 1rem;
    }
    
}

@media screen and (max-width: 375px) {
    .fotter{
        width: 375px;
        padding: 40px 20px 20px 20px;
    }

    .sb__fotter{
        padding: 0;
        /* margin: 0; */
    }

    .sb__fotter-links-div{
        padding: 0px 20px;
    }

    .padding-t{
        height: Hug (112px);
        width: Fixed (216px);
        padding: 0px 20px;
    }

    .sb__fotter-links-div {
        width: auto;
        height: auto;
    }
    
    .sb__fotter-links-alt {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    
    .sb__fotter-below {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    
    .sb__fotter-below-links p {
        margin: 5px 0; 
    }
    
}